@import './base';
@import './components/links';
@import './components/buttons';
@import './utils/fonts';


/* header */
.main-header {
    background-color: #000000c9;
    position: absolute;
    left: 0;
    right: 0;
}

.header-container {
    display: flex;
    align-items: center;    
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 10px 0;
    font-size: 15px;
    gap: 24px;
}

.heder-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 24px;
    margin: 0;
    gap: 24px;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    gap: 24px;
}

.header-button {
    display: flex;
    align-items: center;
    gap: 24px;
}



/* hero-section  */

.hero-section {
    padding-top: 117px;
    padding-bottom: 48px;
    background-image:
        linear-gradient(203deg,
            rgba(0, 0, 0, 0.79) 0%,
            rgba(0, 0, 0, 0.37) 53%,
            rgba(0, 0, 0, 0.8) 100%),
        url(../images/coffee_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-family: "Clicker Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--standart-color-site);
    font-size: 220px;
}

.item-hero {
    font-family: "Cormorant Infant", serif;
    font-style: italic;
    font-weight: 400;
    color: var(--standart-color-site);
    font-size: 32px;
}

.item-hero,
.hero-title {
    margin-bottom: 11px;
}

.hero-text {
    font-family: "Cormorant Infant", serif;
    font-style: italic;
    font-weight: 600;
    color: var(--standart-color-site);
    font-size: 24px;
    margin-bottom: 56px;
    max-width: 603px;
    width: 100%;
}

.order-now {
    font-family: "Cormorant Infant";
    font-weight: bold;
    font-size: 19px;
    padding: 11px 23px;
    color: black;
    background-color: #f9c06a;
    border: 2px solid #f9c06a;
    border-radius: 24px;
}

.order-now:hover {
    border-color: #c4a712;
    background-color: #c4a712;
}

/* about-us section */

.about-section {
    display: flex;    
    gap: 95px;
    padding-bottom: 48px;
    align-items: center;
}

.about-title {
    padding-top: 48px;
    margin-bottom: 43px;
    color: #603809;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-size: 54px;
    font-weight: 600;
}

.about-text {   
    margin-bottom: 29px; 
    line-height: 1.5;
    font-size: 20px;
    font-family: 'Playfair Display';
    color: #707070;
}



// menu section 

.menu-section {
    position: relative;    
}

.menu-title {     
    color: #603809;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-size: 54px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    max-width: 723px;
    width: 100%;
    

}

.menu-text {
font-size: 20px;
font-family: 'Playfair Display';
color: #707070;
margin-bottom: 32px;
}

.item-menu {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.menu-image {
    position: absolute;
    left: 0;
    top: -145px;
}

// pirice card
.card-menu {
    display: flex;
    gap: 20px;
    position: relative;    
    padding: 0px;
}

.conteiner-card {
    padding-bottom: 106px;
}

.coffee-card {   
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgba(255, 249, 241);
    border: 1px solid rgba(249, 192, 106, 0.281);      
    max-width: 280px;
    width: 100%; 
    height: 388px;
}

.card-title,
.price-card {
    color:#603809 ;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 600;  
    -webkit-text-stroke: 1px #e7c999;
    paint-order: stroke fill;
}

.price-card {
    margin-bottom: 50px;
}

.image-card {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}


.name-card {
    text-align: center;
    font-family: 'Playfair Display';
    -webkit-text-stroke: 1px #e7c999;
    paint-order: stroke fill;    
}

.button-card {
    position: absolute;
    top: 362px;
    left: 74px;
    font-family: "Cormorant Infant";
    font-weight: bold;
    font-size: 19px;
    padding: 11px 23px;
    color: black;
    background-color: #f9c06a;
    border: 2px solid #f9c06a;
    border-radius: 24px;
}

.button-menu {
    margin: 0 auto;
}

// advantages
.adv-title {
    font-size: 54px;
    font-family: "Cormorant Infant";
    text-align: center;
    color: #603809;
    margin-bottom: 23px;    
}

.adv-text {
    font-family: "Playfair Display";
    font-size: 20px;
    color:#707070;
    text-align: center;
    margin: 0;
}

.advantages-end p:last-child {
    color: #603809;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.advantages-card {
    display: flex;
    gap: 20px;
    padding: 32px 23px;
}

.advantages-card .adv-card:first-child {
    background-color: #FFEED8;
}

.adv-card:not(:first-child) {
    background-color: #FFF9F1;
    border: 1px solid rgba(249, 192, 106, .281);
}

.adv-card h3 {
    color: #603809;
    font-size: 36px;
    font-family: "Cormorant Infant";
    text-align: center;
    margin-bottom: 14px;
}

.adv-card p {
    color: #707070;
    font-size: 20px;
    font-family: "Playfair Display";
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.adv-card {
    padding: 35px 11px;
    max-width: 284px;
    width: 100%;
}



