.link {
    font-family: "Gabriela", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--standart-color-site);
}

.link:hover {
    color: #c4a712;
    font-weight: 800;
}